* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.003px;
  }
  body {
    min-width: 20em;
    min-height: 10em;
    -webkit-font-smoothing: antialiased;
  }
  main, aside {
    padding: 18px 16px;
    display: grid;
  }
  h1 {
    margin-block-start: 0em;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    padding:0 16px;
    margin-bottom: 0;
  }
  button {
    white-space: nowrap;
    background-color: #0d99ff;
    color: #fff;
    font-weight: 600;
    height: 40px;
    border-radius: 6px;
    box-sizing: border-box;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.006px;
  }
  button:hover {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, .3);
}
  button + button {
    margin-top: 8px;
  }
  aside {
    border-top: 1px solid #e5e5e5;
  }
  .textLink {
    box-sizing: border-box;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    padding: 4px;
    text-align: center;
    font-weight: 600;
    height: 32px;
    border-radius: 6px;
    font-weight: 600;
    color: darkslategray;
    text-decoration: none;
  }
  .reportIssue {

  }
  .reportIssue:hover {
    color: #0d99ff;
  }
  .textLink svg {
    margin-right: 8px;
    position: relative;
  }
  .reportIssue svg path {
    color: darkslategray;
 }
  .reportIssue:hover svg path {
    fill: #0d99ff;
}
.donate {
  background-color: #FD0;
  margin-bottom: 8px;
}
.donate:hover {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, .3);
}